# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
tmp
old
*.log
TODO
NOTES
mestats
.asciidoctor
doc/.asciidoctor
doc/*.html
*.html
recordings
models-dist
*.xwam
*.json
data-tools/aiml/all_bots.csv
data-tools/aiml/bots/
data-tools/csv/model/
data-tools/csv/out
data-tools/rdf/cache
README.md
README.xml
build/
dist/
zamia_ai.egg-info/
examples/*/model
examples/*/utts.txt
examples/*/zamiaai.db
examples/*/corpus.txt
examples/*/corpus5.txt
examples/*/kaldi-de-tdnn_sp-adapt
examples/*/lm.arpa
examples/*/sentences-de.txt
examples/*/sentences-en.txt
examples/*/vocab.txt
examples/*/work
examples/*/kaldi-en-tdnn_sp-adapt/
zamiaai_dist.sh
