# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
tmp
old
data
models
*.log
TODO
NOTES
run_training.sh
modules/exp
modules/ms
mestats
doc/.asciidoctor
doc/*.png
doc/*.html
*.html
data-tools/aiml/german-alice-alignment.txt
