# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
tmp
old
models
*.log
TODO
NOTES
run_training.sh
modules/exp
modules/chat
mestats
.asciidoctor
doc/.asciidoctor
doc/*.html
*.html
recordings
ai.db
ai.db-journal
models-dist
*.xwam
*.json
data-tools/aiml/all_bots.csv
data-tools/aiml/bots/
data-tools/csv/model/
data-tools/csv/out
modules/bots/
